<section class="ftco-section" id="services-section">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2">Services</h1>
                <h2 class="mb-4">{{ introduction.title }}</h2>
                <p>{{ introduction.description }}</p>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-md-4 text-center d-flex ftco-animate">
                <a href="#" class="services-1 shadow">
                    <span class="icon">
                        <i class="flaticon-{{ service.icon}}"></i>
                    </span>
                    <div class="desc">
                        <h3 class="mb-5">{{ service.name }}</h3>
                        <p>{{ service.heading }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>