{% load static %}
{% load crispy_forms_tags %}
{#<section class="ftco-section ftco-hireme img" style="background-image: url({% static 'images/bg_1.jpg' %})">#}
{#    <div class="overlay"></div>#}
{#    <div class="container">#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-md-7 ftco-animate text-center">#}
{#                <h2>I'm <span>Available</span> for freelancing</h2>#}
{#                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>#}
{#                <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5">Hire me</a></p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

<section class="ftco-section contact-section ftco-no-pb mb-5" id="contact-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h1 class="big big-2">Contact</h1>
                <h2 class="mb-4">{{ contact.title }}</h2>
                <p>{{ contact.description }}</p>
            </div>
        </div>

        <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
                <div class="align-self-stretch box text-center p-4 shadow">
                    <div class="icon d-flex align-items-center justify-content-center">
          			    <span class="icon-map-signs"></span>
          		    </div>
          		    <div>
                        <h3 class="mb-4">Address</h3>
		                <p>{{ contact.credentials.address }}</p>
		            </div>
	            </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
          	    <div class="align-self-stretch box text-center p-4 shadow">
          		    <div class="icon d-flex align-items-center justify-content-center">
          			    <span class="icon-phone2"></span>
          		    </div>
          		    <div>
	          		    <h3 class="mb-4">Contact Number</h3>
		                <p><a href="tel://{{ contact.credentials.phone }}">{{ contact.credentials.phone }}</a></p>
	                </div>
	            </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex ftco-animate">
          	    <div class="align-self-stretch box text-center p-4 shadow">
          		    <div class="icon d-flex align-items-center justify-content-center">
          			    <span class="icon-paper-plane"></span>
          		    </div>
          		    <div>
	          		    <h3 class="mb-4">Email Address</h3>
		                <p><a href="mailto:{{ contact.credentials.email }}">{{ contact.credentials.email }}</a></p>
		            </div>
	            </div>
            </div>
        </div>


        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        <div class="row no-gutters block-9">
            <div class="col-md-6 order-md-last d-flex">
                <form action="#" class="bg-light p-4 p-md-5 contact-form" method="POST">
                    {% csrf_token %}

                    {{ form|crispy }}
                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                </form>
            </div>

            <div class="col-md-6 d-flex">
          	    <div class="img" style="background-image: url({{ contact.image.url }});"></div>
            </div>
        </div>
    </div>
</section>